<!DOCTYPE html>
<html>
    <head>
        <title>K-quest - Создание квеста</title>

        
        <link rel="stylesheet" href="{{ url_for('static',filename = 'styles/create.css')}}">

        <script src="{{ url_for('static',filename = 'scripts/background.js')}}"></script>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>
    <!--<div id="data" qcount={{ count }} style="display: none;"></div>-->
    <script>var qcount = "{{ count }}";</script>
    <script src="{{ url_for('static',filename = 'scripts/createinteract.js')}}"></script>

        <div class="wrapper">
            <div class="header">
                <!--Содержимое шапки-->
                <div class="headerContent">
                    <a style="color: white; margin: 10px 0 0 11px; font-size: 24px; font-weight: 700"
                    onclick="window.location = 'http://127.0.0.1:5000/'">K-quest</a>
                </div>
            </div>

            <!--Основной контент страницы-->
            <div class="options">
                <div style="display: flex;
                        flex-direction: column;
                        justify-content: space-between;">
                    <div class="option">
                        <div class="optionContent">
                            <h2>Создание нового урока</h2>
                            <input name="questName" placeholder="Введите название квеста"
                                style="display: block; height: 40px; margin-top: 16px" id="questName"/>
                            <textarea placeholder="Введите описание квеста" style="height: 207px; margin: 48px 0 15px 0"
                                id="questDescription"></textarea>
                                <div class="optionSwitches">
                                    <div class="optionSwitch">
                                        
                                        <label class="switch" >
                                        
                                            <input type="checkbox" class="input__check">
                                            <span class="slider"></span>
                                        </label>
                                        <h4>Создать сертификат</h4>
                                    </div>
                                    <div class="optionSwitch">
                                        
                                        <label class="switch" >
                                            
                                            <input type="checkbox" class="input__check">
                                            <span class="slider"></span>
                                        </label>
                                        <h4>Линейное прохождение</h4>
                                    </div>
                                    
                                </div>  
                        </div>
                             
                    </div>
                    <div style="
                            margin-bottom: 35px;
                            display: flex;
                        ">
                        <button onclick="SendJSON();" id="createButton" class="btn-template-anim">Создать
                            квест
                        </button>
                    </div>       
                </div>

                <div class="option" id="questions">
                    <div id="option-wrapper">
                        <div class="optionContent">
                            <h2>Загрузите задания</h2>
                            <div class="taskLineBlock">
                                <div id="taskLine"></div>
                            </div>
                            <!--Для создания очереди заданий; в будущем удалить-->
                            <script>generateTaskLine(1)</script>

                            <textarea placeholder="Введите текст задания" style="height: 108px; margin-top: 15px" id="taskText"
                                    onchange="saveTaskData(); isFull()"></textarea>

                            <h3>Подсказка</h3>
                            <textarea placeholder="Введите текст подсказки" style="height: 108px" id="taskHint"
                                    onchange="saveTaskData(); isFull()"></textarea>
                            

                            <textarea placeholder="Введите ссылку на изображение"
                                style="white-space: nowrap;margin-top: 10px;height: 30px"
                                id="taskPic"></textarea>

                            <h3>Ответ</h3>
                            <textarea placeholder="Введите текст ответа" style="height: 108px" id="taskAnswer"
                                    onchange="saveTaskData(); isFull()"></textarea>
                        </div>
                        
                        <div id="btn-next-div">
                            <div id="btn-next-wrapper">
                                <button class="btn-template-anim" id="btn-NextExc" onclick="creatJSON();clickedOnNext();isFull()">ДАЛЕЕ
                        </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Главная кнопка страницы-->
            
        </div>
        <canvas class="background"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
    </body>

</html>