

<!DOCTYPE html>
<html>

<head>
    <title>K-quest - Главная</title>

    <link rel="stylesheet" href="{{ url_for('static',filename = 'styles/common.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'styles/index.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <script src="{{ url_for('static',filename = 'scripts/indexinteract.js')}}"></script>
    <script src="{{ url_for('static',filename = 'scripts/createinteract.js')}}"></script>
    <script src="{{ url_for('static',filename = 'scripts/background.js')}}"></script>
    
</head>

<body onload="StartPage()">
<!--Оформление заднего фона-->
<div class="wrapper">
    <!--Шапка-->
    <div class="header">
        <!--Содержимое шапки-->
        <div class="headerContent">
            <a style="margin-left: 11px; font-size: 24px; font-weight: 700; cursor: default">K-quest</a>
            <a id="descLink" style="margin-left: 800px" href="#description">Описание</a>
            <img src="{{ url_for('static',filename = 'images/profileicon.png')}}"
                 style="width: 50px; height: 50px; margin-left: auto"
                 onclick="clickOnProfile()">
        </div>
    </div>

    <!--Основной контент страницы-->
    <div class="options">
        <!--Выбор формата квеста-->
        <div class="option" style="text-align: center; user-select: none;">
            <h1 style="margin-top: 16px">Создай свой квест!</h1>
            <h4 style="font-weight: 100;">Выбери количество комнат</h4>

            <div id="questSizePicker">
                <div class="house" id="house" data-rooms="6">
                    <div class="house-wings" data-flip-key="wings">
                      <div class="house-left-wing">
                        <div class="house-window"></div>
                        <div class="house-window"></div>
                        <div class="house-sparkle">
                          <div class="house-sparkle-dots"></div>
                        </div>
                      </div>
                      <div class="house-right-wing">      
                        <div class="house-window"></div>
                        <div class="house-window"></div>
                        <div class="house-sparkle">
                          <div class="house-sparkle-dots"></div>
                        </div>
                      </div>
                      <div class="house-roof">
                        <div class="house-ledge"></div>
                      </div>
                    </div>
                    <div class="house-front" data-flip-key="front">
                      <div class="house-chimney"></div>
                      <div class="house-facade"></div>
                      <div class="house-window">
                        <div class="house-sparkle">
                          <div class="house-sparkle-dots"></div>
                        </div>
                      </div>
                      <div class="house-doorway">
                        <div class="house-stairs"></div>
                        <div class="house-door"></div>
                      </div>
                      <div class="house-gable">      
                        <div class="house-roof">
                          <div class="house-ledge"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <label class="house-label" for="range" id="label">Rooms</label>
                  <input type="range" min="1" max="8" step="1" value="8" id="range">
                <button class="button-base-home createQuest" onclick="redirectToPage()">Создать квест</button>

            </div>
        </div>
        
        <!--Вторая опция должна быть прозрачной с затенением на фоне, поэтому добавлена "подложка" в виде блока-->
        <!--Подключение к квесту-->
        <div
                style="position: absolute; width: 684px; height: 495px; right: 0px; background-color: #2c2c2c; filter: blur(100px); border-radius: 15px; ">
        </div>
        
        <div class="option" style="background: none; box-shadow: none; font-size: 20px;">
            <div style="padding: 96px 0 0 64px">
                <h1 style="font-size: 64px;">K-quest</h1>
                <p style="margin-top: 32px;">
                    Увлекательные знания в формате квеста!
                    <br>
                    <br>
                    Используй свою интуицию, логику и знания, чтобы найти
                    <br>
                    ответы на вопросы. Помогает приобрести новые знания и
                    <br>
                    поднять настроение.
                </p>
                <button class="button-base-home" style="width: 170px; height: 46px;" onclick="window.location = 'http://127.0.0.1:5000/quest'">
                    Войти в квест
                </button>
            </div>
        </div>
    </div>
    <div class="videoplayer">
        <div class="player-wrapper">
            <div class="play-btn-cont">
                <video src="{{ url_for('static',filename = 'video.mp4')}}" id="Video1"   preload="auto" loop  >
                    
                </video>
                <button id="play" class="actions" onclick="vidplay()">
                    <img id="iconBtnPl" src="{{ url_for('static',filename = 'images/play.svg')}}" >
                    <img id="icon-btn-pause" src="{{ url_for('static',filename = 'images/pause.svg')}}" >
                </button>
                <div class="buttonBar-wrapper">  
                    <div id="buttonbar">
                        <input id="timelineVideo" type="range" step="0.0001" min="0" value="0" >
                        <button id="VolButton">
                            <img id="unmutedBtn" src="{{ url_for('static',filename = 'images/unmuted.svg')}}" alt="">
                            <img id="mutedBtn" src="{{ url_for('static',filename = 'images/muted.svg')}}" alt="">
                        </button>
                        <input id="volInput" type="range" step="1" min="0" max="100" value="0">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div id="description">
        <div class="descriptionContent">
            <h1 style="font-size: 48px">Описание</h1>
            <div
                    style="display: flex; width: 100%; height: fit-content; justify-content: space-between; margin-top: 96px">
                <img src="{{ url_for('static',filename = 'images/description1.png')}}">
                <img src="{{ url_for('static',filename = 'images/description2.png')}}">
                <img src="{{ url_for('static',filename = 'images/description3.png')}}">
            </div>
        </div>
    </div>
</div>

<!--Затенение фона для всплывающего меню-->
<div id="blurBg" onclick="closeMenu()"></div>

<!--Сайдбар авторизации-->
<div id="auth">
    <!--Декоративный эллипс-->
    <!--<svg viewBox="0 0 100 150" style="position: fixed; top: -10%;">
        <defs>
            <linearGradient id="ellipseGrad6" x1="100.0%" y1="100%" x2="0%" y2="100%">
                <stop offset="-63.06%" style="stop-color:rgba(125, 45, 255, 0.75); stop-opacity:1"/>
                <stop offset="-13.7%" style="stop-color:rgba(0, 255, 71, 0.75); stop-opacity:1"/>
            </linearGradient>
        </defs>
        <ellipse cx="30" cy="100" rx="100" ry="25" style="rotate: -30deg; filter: blur(20px);"
                 fill="url(#ellipseGrad6)"/>
    </svg>-->

    <!--Содержимое-->
    <div class="authForm">
        
        <div class="authSwitch">
            <a id="switchIn" style="color:black" onclick="authSwitch('in')">ВХОД</a>
            <a style="color: gray" id="switchUp" onclick="authSwitch('up')">РЕГИСТРАЦИЯ</a>
        </div>
        
        
        <div id="authSignin">
            <form method="post" action="/">
                <div class="formSignInWrapper">
                    <div class="form-fields">
                        <div class="form-fields-wrapper">
                            <h2 class="form-fields-item" >Логин</h2>
                            <input class="form-fields-item" type="text" name="login" placeholder="Введите логин">
                            <h2 class="form-fields-item" >Пароль</h2>
                            <input class="form-fields-item" type="password" name="password" placeholder="Введите пароль">

                            <a id="forgottenPass" style="display: block; width: fit-content; margin: 1vh auto 0 auto; font-size: 1.5vh">Забыли
                                пароль?</a>
                        </div>
                    </div>
                    <button  class="btn-log" 
                            type="submit"
                    >ВОЙТИ В УРОК
                    </button>
                </div>
            </form>
        </div>

        <div id="authSignup">
            <form method="post" action="/reg">
                <div class="formSignInWrapper">
                    <div class="form-fields">
                        <div class="form-fields-wrapper">
                            <h2 class="form-fields-item">Логин</h2>
                            <input class="form-fields-item" type="text" name="reglogin" placeholder="Введите логин">
                            <h2 class="form-fields-item">Пароль</h2>
                            <input class="form-fields-item" type="text" name="regpassword" placeholder="Введите пароль">

                            <h2 class="form-fields-item">Секретный вопрос</h2>
                            <select class="form-fields-item" name="securityQuestion[]">
                                <option value="Какая кличка вашего животного?">Какая кличка вашего животного?</option>
                                <option value="Какой ваш любимый фильм?">Какой ваш любимый фильм?</option>
                                <option value="Какой цвет глаз вашего отца?">Какой цвет глаз вашего отца?</option>
                            </select>

                            <h2 class="form-fields-item">Ответ на секретный вопрос</h2>
                            <input class="form-fields-item" type="text" name="securityAnswer" placeholder="Введите ответ на вопрос">
                        </div>
                    </div>
                    <button class="btn-log" onclick="openProfile()">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
<!--<div id="my-data" loginuser={{ my_variable }} style="display: none;"></div>-->
<script>var loginuser= "{{ my_variable }}";</script>
<script  src="https://unpkg.com/rxjs@6.5.3/bundles/rxjs.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/7.3.0/rxjs.umd.min.js"></script>
<script src="https://unpkg.com/flipping@0.5.3/dist/flipping.animationFrame.js"></script>

<script>


    const { fromEvent } = rxjs;
    const { map, startWith } = rxjs.operators;

    const house = document.querySelector('#house');
    const range = document.querySelector('#range');
    const label = document.querySelector('#label');

    const f = new Flipping();
    const update = f.wrap(rooms => {
      const prevRooms = house.getAttribute('data-rooms');
      house.setAttribute('data-prev-rooms', prevRooms);
      house.setAttribute('data-rooms', rooms);

      label.setAttribute('data-prev-rooms', prevRooms);
      label.setAttribute('data-rooms', rooms);
      label.setAttribute('data-rooms-delta', rooms - prevRooms);
    });

    const range$ = fromEvent(range, 'input')
      .pipe(
        map(e => e.target.value),
        startWith(8));

    range$.subscribe(update);


    function vidplay() {
       var video = document.getElementById("Video1");

       var button = document.getElementById("play");
       if (video.paused) {
          video.play();
          var img_pl = document.querySelector("#iconBtnPl")
          img_pl.style.display = 'none'
          document.getElementById("icon-btn-pause").style.display = 'flex'
          console.log(video.duration)
       } else {
          video.pause();
          document.getElementById("icon-btn-pause").style.display = 'none'
          var img_pl = document.querySelector("#iconBtnPl")
          img_pl.style.display = 'flex'
       }
    }
    
    </script>
    <canvas class="background" style="position: absolute" ></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
</body>

</html>