/*принадлежащие профильной странице стили*/
 body {
        overflow-x: hidden;
    }

.profile {
    position: relative;
    display: flex;
    width: 1440px;
    height: 815px;
    margin-top: 64px;
    background-color: orange;
    background: linear-gradient(120.59deg, #8C45FF 8.53%, #8DDBDB 88.61%);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    font-size: 18px;
}

.sidebar {
    position: relative;
    justify-content: center;
    display: flex;
    width: 330px;
    height: 100%;
    border-radius: 15px 0 0 15px;
    background: rgba(255, 255, 255, 0.2);
}

.sidebarSection {
    position: absolute;
    width: 85%;
    height: fit-content;
    display: flex;
    align-items: center;
}

.sidebarSection img {
    width: 28px;
    height: 28px;
    margin-left: auto;
}

.menu {
    top: 100px;
    position: relative;
    display: flex;
    align-self: flex-end;
    margin: 0 auto 0 auto;
    width: 70%;
    height: 95%;

}

#edit {
    width: 90%;
    height: 70%;
    margin: auto auto auto auto;
    display: none;
    font-family: "Montserrat", sans-serif;
}

#edit h3 {
    font-weight: 300;
}

#edit input, select {
    width: 399px;
    height: 34px;
    margin-top: 8px;
    font-size: 20px;
}

.editSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

#passed {
    overflow-y: scroll;
    width: 100%;
    height: 641px;
    margin: 16px auto auto auto;
    display: none;
}

#listEntry {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    width: 960px;
    height: 35px;
    border-radius: 15px;
    padding: 0 16px;
    align-items: center;
    margin-bottom: 16px;
}

#listEntry img {
    width: 28px;
    height: 28px;
    margin: 0 4px 0 4px;
}


#made {
    overflow-y: scroll;
    width: 100%;
    height: 641px;
    margin: 16px auto auto auto;
    display: none;
}

#deletionConfirmation {
    position: fixed;
    
    height: 27vh;
    left: calc(35vw);
    top: calc(36.5vh);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(120.59deg, #8C45FF 8.53%, #8DDBDB 88.61%);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 2vh;
    text-align: center;
    z-index: 100;
    display: none;
    font-family: "Montserrat", sans-serif;
}

#QuestConfirmation {
    position: fixed;
    width: 30vw;
    height: 27vh;
    left: calc(35vw);
    top: calc(36.5vh);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(120.59deg, #8C45FF 8.53%, #8DDBDB 88.61%);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 2vh;
    text-align: center;
    z-index: 100;
    display: none;
}

#participants {
    width: 100%;
    height: 100%;
    margin: auto auto auto auto;
    display: none;
}

#btnUpdateProfile{
    padding:7px 20px 7px 20px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background: linear-gradient(90deg, #A5E4DC 10%, #EE9EE6 90%) ;
    /*#f0efef*/ 
    color: black; 
    box-shadow: 0px 4px 40px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 30px;
    border: none;
    font-family: "Montserrat", sans-serif;
}
#btnUpdateProfile img{
    padding-right: 2px;
}
#btnConfirmDelete{
    white-space: nowrap;
    display: inline; 
    border: none; 
    font-size: 2.5vh; 
    background: linear-gradient(90deg, #A5E4DC 10.22%, #EE9EE6 89.43%);
    color: black; 
    box-shadow: 0px 4px 40px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 3vh; 
    padding: 16px 32px;
}
#deletionConfirmation form{
    padding: 0 33px;
} 
#deletionConfirmation a{
    color:black;
}

.copy:focus:not(:focus-visible) .tooltip::before {
    content: attr(data-text-end);
  }
  .copy:focus:not(:focus-visible) .clipboard {
    display: none;
  }
  .copy:focus:not(:focus-visible) .checkmark {
    display: block;
  }
  .copy:hover,
  .copy:focus {
    background-color: var(--button-hover-bg);
  }
  .copy:active {
    outline: var(--button-outline-width) solid var(--button-outline-color);
  }
  .copy:hover svg {
    color: var(--button-hover-text-color);
  }